body
{
    background-color: #202020;
}

h1
{
    color: #ff3300;
}

h1 span
{
    color: #df0000;
    font-size: 1.8em;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

.center
{
    position: fixed;
    top: 350px;
    left: 550px;
}